.headerbutton
{
	position:absolute;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: transparent; //rgb(81,128,0);
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	border-top:3px solid #ffffff;
	border-left:3px solid #ffffff;
	border-right:3px solid #ffffff;
	text-align: center;
	color:#ffffff;
	font:20px Courier;
	font-weight:bold;
	
	margin-top:1em;
	height:26px;
	width:200px;
}

.headerbutton:hover
{
	background-color: rgb(140,219,0);
	cursor:pointer;
	color:rgb(81,128,0);
}

.headerbutton:active 
{
	background-color: rgb(43,62,0);
	color:#ffffff;
}

