.tabbutton
{
	position:absolute;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: transparent;
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	text-align: center;
	color:rgb(81,128,0);
	font:20px Courier;
	font-weight:bold;
	
	margin-top:1em;
	height:26px;
	width:200px;
}

.tabbutton:hover
{
	background-color: rgb(140,219,0);
	cursor:pointer;
	color:rgb(81,128,0);
}

.tabbutton:active 
{
	background-color: rgb(43,62,0);
	color:#ffffff;
}

.tabbuttonSelected
{
	position:absolute;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgb(255,255,255);
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	border-top:3px solid rgb(140,219,0);
	border-left:3px solid rgb(140,219,0);
	border-right:3px solid rgb(140,219,0);
	border-bottom:3px solid rgb(255,255,255);
	text-align: center;
	color:rgb(81,128,0);
	font:20px Courier;
	font-weight:bold;
	margin-top:.85em;
	height:28px;
	width:200px;
}

.tabbuttonSelected:hover
{
	cursor:pointer;
	color:rgb(140,219,0);
}

.tabbuttonSelected:active 
{
	color:rgb(140,219,0);
}