.ContainerClass
{
	background-color:#39cf79;
	background:url(images/bk.png);
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* Firefox 3.6 */
	background-repeat:repeat no-repeat;
	border:5px solid #ffffff;
	width:98%;
	min-width:850px;
	height:98%;
	margin:5px;
}

.MainHeaderClass
{
	background-color:#88a077;
	background:url(images/header-bk.png);
	background-size:1% 100%;
	-moz-background-size:1% 100%; /* Firefox 3.6 */
	background-repeat:repeat no-repeat;
	border-bottom:5px solid #ffffff;
	width:100%;
	min-width:850px;
	height:200px;
	padding-top:10px;
	text-align: center;
	font:40px Courier;
	font-weight:bold;
	color:#ffffff;
	text-shadow: 3px 3px rgb(81,128,0);
}

footer
{
	text-align: center;
	padding: 1em;
	font:16px Tahoma; color:#ffffff;
}

.ContentClass
{
	position:absolute;
	background-color:#ffffff;
	border-radius: 40px;
	top:80px;
	bottom:7%;
	left:7%;
	width:86%;
	padding:5px;
	min-width:750px;
}

.ContentHeaderClass
{
	
	background-color:#39cf79;
	background:url(images/bk.png);
	background-size:1% 100%;
	-moz-background-size:1% 100%; /* Firefox 3.6 */
	background-repeat:repeat no-repeat;
	border-bottom:3px solid rgb(140,219,0);
	
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	top:5px;
	left:5px;
	right:5px;
	height:50px;
	padding-top:25px;
	
}

@-webkit-keyframes imageSlide 
{
	from { transform: scale(1.0); }
	to   { transform: scale(5.0); }

}

.ContentContentClass
{
	position:absolute;
	
	-moz-animation-name: imageSlide;
	-moz-animation-duration: .25s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;
	-webkit-animation-name: imageSlide;
	-webkit-animation-duration: .25s;
	
	-webkit-animation-iteration-count: 1;
	-ms-animation-name: imageSlide;
	-ms-animation-duration: .25s;
	-ms-animation-timing-function: ease-in;
	-ms-animation-iteration-count: 1;
	
	overflow-y:scroll;
	
	top:90px;
	left:5px;
	right:10px;
	bottom:70px;
	padding:25px;
	
}
.ContentFooterClass
{
	position:absolute;
	background-color:#777777;
	border:5px solid #ffffff;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	bottom:5px;
	left:5px;
	right:5px;
	height:40px;
	padding:5px;
}